input {
    pipeline { address => radiuslogs }
}
 
filter {
    mutate { gsub => [ "message", "[\n\t]+", " " ] }
 
    kv {
        allow_duplicate_values => false
        include_keys => [
            "Calling-Station-Id",
            "Framed-IP-Address",
            "Event-Timestamp",
            "Called-Station-Id",
            "NAS-IP-Address",
            "Acct-Status-Type"
        ]
 
        remove_field => [
            "logtype",
            "message",
            "@version"
        ]
    }
    
    date {
        match => [ "Event-Timestamp", "MMM d yyyy HH:mm:ss ZZZ", "MMM dd yyyy HH:mm:ss ZZZ" ]
        target => "RADIUS-Timestamp"
        remove_field => [ "Event-Timestamp" ]
    }
 
    if "beats_input_codec_plain_applied" in [tags] {
        mutate { remove_tag => ["beats_input_codec_plain_applied"] }
    }
 
    fingerprint {
        key => "{{ fingerprint_key }}"
        method => "SHA512"
        source => "Calling-Station-Id"
        target => "Calling-Station-Id"
    }
 
    fingerprint {
        key => "{{ fingerprint_key }}"
        method => "SHA512"
        source => "Framed-IP-Address"
        target => "Framed-IP-Address"
    }
}
 
output {
    elasticsearch {
        ssl => true
        ssl_certificate_verification => true
	cacert => "/etc/ssl/certs/ca-certificates.crt"
        user => "logstash_writer"
        password => "{{ logstash_writer_user_password }}"
        hosts => ["https://{{ was_server_hostname }}-elastic.{{ was_server_domainname }}:443"]
        ilm_enabled => true
        ilm_policy => "wifimon_policy"
        index => "radiuslogs"
    }
}
